@font-face {
  font-family: 'Inter';
  src: url('../../fonts/inter-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/inter-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/inter-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/inter-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: 'Inter', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #c8c8c8;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

input::placeholder {
  color: white;
  opacity: 0.6;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.custom-input {
  margin-top: 24px;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
}

input[type='text'] {
  font-family: Inter;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 6px;
  color: #ffffff;
  opacity: 0.6;
}
